# Necesario para prevenir problemas cuando usemos un controlador llamado "index" teniendo un archivo index.php
# para más información: http://stackoverflow.com/q/20918746/1114320
Options -MultiViews

# Activamos el motor
RewriteEngine On

# Cuando el script se encuentre dentro de un subdirectorio, hay que poner el path aquí como /misubdirectorio/
# Si tu aplicación está en la raíz del servidor tendrás que borrar esta línea o comentarla.
RewriteBase /hosclivet/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]